*.vscode
Free_Code_Camp/HelloWorld
Free_Code_Camp/shapes
Free_Code_Camp/variables
Free_Code_Camp/DataTypes
Free_Code_Camp/printf
Free_Code_Camp/numbers
Free_Code_Camp/comments
Free_Code_Camp/constants
Free_Code_Camp/UserInput
Free_Code_Camp/BasicCalculator
Free_Code_Camp/MadLibsGame
Free_Code_Camp/arrays
Free_Code_Camp/functions
Free_Code_Camp/ReturnStatement
Free_Code_Camp/IfStatements
Free_Code_Camp/BetterCalculator
Free_Code_Camp/SwitchStatements
