*.vscode
Free_Code_Camp/hello_world
Free_Code_Camp/shapes
Free_Code_Camp/variables
Free_Code_Camp/data_types
Free_Code_Camp/printf
Free_Code_Camp/numbers
Free_Code_Camp/comments
Free_Code_Camp/constants
